steps:
  date:
    type: resolve_date
    value: null

  holiday_list:
    type: scrape_holidays
    provider: checkiday
    inputs: date

  holiday:
    type: choose_holiday
    provider: openai
    model: gpt-5-nano
    inputs: holiday_list
    template: !file ./templates/holiday_selection_prompt.txt

  prompt:
    type: construct_prompt
    provider: openai
    model: gpt-5-mini
    effort: high
    inputs: holiday
    template: !file ./templates/holiday_cat_image_prompt.txt

  image:
    type: generate_image
    provider: openai
    model: gpt-image-1.5
    inputs: prompt
    template: "{prompt}"

  caption_header:
    type: construct_header
    provider: openai
    model: gpt-5-mini
    inputs: date, holiday
    template: !file ./templates/holiday_emoji_prompt.txt

  caption_body:
    type: generate_caption
    provider: openai
    model: gpt-5.2
    effort: high
    inputs: holiday, prompt
    template: !file ./templates/holiday_cat_caption_prompt.txt

  caption:
    type: construct_prompt
    provider: constant
    inputs: caption_header, caption_body
    template: "{caption_header}\n{caption_body}"

  publish:
    type: publish_post
    inputs: image, caption
    platforms:
      - telegram
      - twitter
