steps:
  holidays:
    type: scrape_holidays
    provider: checkiday
    date: null

  holiday:
    type: choose_holiday
    provider: openai
    model: gpt-5-nano
    inputs: holidays
    template: !file ./templates/holiday_selection_prompt.txt

  prompt:
    type: construct_prompt
    provider: openai
    model: gpt-5-mini
    inputs: holiday
    template: !file ./templates/holiday_cat_image_prompt.txt

  image:
    type: generate_image
    provider: openai
    model: gpt-image-1.5
    inputs: prompt
    template: "{prompt}"

  caption:
    type: generate_caption
    provider: openai
    model: gpt-5.2
    inputs: holiday, prompt
    template: !file ./templates/holiday_cat_caption_prompt.txt

  publish:
    type: publish_post
    inputs: image, caption
    platforms:
      - telegram
