steps:
  date:
    type: construct_prompt
    provider: constant
    prompt: "2026-02-15"

  # holidays:
  #   type: scrape_holidays
  #   provider: checkiday
  #   date: 2026-02-15

  holiday:
    type: construct_prompt
    provider: constant
    prompt: "National Hippo Day"

  caption_header:
    type: construct_header
    provider: placeholder
    inputs: date, holiday
    template: !file ./templates/holiday_emoji_prompt.txt


  # caption_body:
  #   type: generate_caption
  #   provider: openai
  #   model: gpt-5.2
  #   inputs: holiday, prompt
  #   template: !file ./templates/holiday_cat_caption_prompt.txt
